.palette {
    
    min-width: 200px;
    width: 100%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap:2px;
    border: 2px solid rgb(31 41 55);

}

.palette > div 
{
    background-color: rgb(31 41 55);
}